/* h6 {
  background-color: blueviolet;
} */

/* * {
  background-color: pink;
} */

/* #first-H6 {
  background-color: brown;
} */

/* #second-H6 {
  background-color: coral;
} */

/* .h6-headings {
  background-color: aqua !important;
}
 */
/* p,
#FIRST-H6,
div {
  background-color: rgb(9, 24, 9);
} */

/* <!-- Descendeant selector --> */

/* div {
  background-color: lightgray;
}
div p {
  font-weight: 700;
}
div p span {
  color: red;
} */

/* div p {
  background-color: lightgray;
}

div > p {
  background-color: lightgreen;
} */

/* div > p {
  color: brown;
  font-size: larger;
}
div + p {
  color: rgb(39, 86, 86);
  font-size: xx-large;
} */

* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0px 10px;
}

.landing-page {
  height: 90vh;
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-image: url("https://media.istockphoto.com/id/2190089371/photo/a-couple-looking-inside-a-new-car-at-the-dealership.jpg?s=1024x1024&w=is&k=20&c=SoZ8_-5Sxk7AwLuGzjnOp8gWe1sChDq0s5iyxecJ2j0=");
}
.landing-pageContainer {
  padding: 0 6rem;
}
.landing-pageContainer nav {
  border: 1px solid white;
}
ol {
  list-style-type: none;
}
nav {
  display: flex;
  justify-content: space-between;
}

.right ol {
  background-color: aqua;
  display: flex;
  width: 300px;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 70px;
}
/* li {
  margin-top: 10px;
} */
.left ol {
  background-color: coral;
  display: flex;
  width: 500px;
  justify-content: space-around;
  height: 40px;
}

div {
  /* width: 100px; */
  height: 300px;
  background: #bf4c4c;
  /* display: flex; */
  flex-direction: row;
  /* overflow-x: visible; */
  align-items: center; /*cross axis*/
  justify-content: space-evenly;
  /* gap: 2px; */
}

section {
  border: 1px solid;
  background-color: aqua;
  padding: 5px;
}
section:nth-child(8) {
  background-color: #b7a0a0;
  order: 1;
}
section:nth-child(12) {
  background-color: #ba1919;
  order: 2;
}
